# Python cache
__pycache__/
*.pyc

# Checkpoints (too large for GitHub)
mask2former_/checkpoints/

# Logs / runs (optional, to keep repo clean)
mask2former_/runs/
mask2former_/logs/
mask2former_/visdom_logs/
